//====================================================================================================

.gallery {
    &__wrapper {
        padding-left: 250px;
        height: 100vh;
        display: flex;
        align-items: center;
        gap: 5px;
        flex-wrap: nowrap;
        overflow: auto;
    }

    &__image {
        height: calc(100vh - 20vh);
        img {
            width: auto;
            height: 100%;
            object-fit: cover;
        }
    }
}
span {
    display: block;
    font-size: rem(14);
   // min-height: rem(24);
    font-style: italic;
    padding: rem(10) rem(10) 0 0 ;
}

//====================================================================================================
